{
	auto_https off
}

# Replace these example hostnames with DNS names that resolve to this server.
http://freshrss.home.arpa {
	encode gzip
	reverse_proxy freshrss:80
}

http://rss-kindle.home.arpa {
	encode gzip
	reverse_proxy rss-kindle:8000
}

:80 {
	respond "Unknown host" 404
}
